<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header__logo-box">
        <img
          src="../../assets/img/parcel_delivery.png"
          alt=""
          class="header__logo"
        />
      </div>
      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">SENDIT</span>
          <span class="heading-primary--sub">Your parcel solutions</span>
        </h1>
      </div>
    </header>
    <section class="detail">
      <h2 class="detail__wedo">What we do</h2>
      <div class="section-features">
        <div class="row">
          <div class="col-1-of-4">
            <div class="feature-box">
              <i class="feature-box__icon fas fa-globe"></i>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
